name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        scala-version: ["2.10.7", "2.11.12", "2.12.20", "2.13.18"]
        java-version: [8]
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
      - uses: sbt/setup-sbt@v1
        with:
          sbt-runner-version: 1.11.5
      - name: Run tests
        run: sbt ++${{ matrix.scala-version }} clean test
